html{
    background-color: beige;
}
h1{
    color: black;
    background-color: rgb(196, 190, 190);
    text-align: center;
}
h2{
    color: black;
    background-color: rgb(196, 190, 190);
}
p{
    color: black;
    font-size: larger;
}
ul{
    color: black;
    font-size: larger;
}
ol{
    color: black;
    font-size: larger;
}