/*This portion is styling the main index.html file for the odin project recipes*/

#main-page-title {
    text-align: center;
    font-size: 100px;
}

.links-to-recipes{
    text-align: center;
    list-style-position: inside;
    font-size: 50px;
}

.main-html{
    background-color: beige;
    color: black;
}

#main-html-egg-img{
    width: 200px;
    height: 200px;
}

#main-html-kefir-img{
    width: 200px;
    height: 200px;
}

#main-html-labneh-img{
    width: 200px;
    height: 200px;
}